[submodule "ubuntu-kernel"]
	path = ubuntu-kernel
	url = git://kernel.ubuntu.com/ubuntu/ubuntu-disco.git
[submodule "patches/vfio"]
	path = patches/vfio
	url = https://aur.archlinux.org/linux-vfio.git
